*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
.env
*.env
serviceAccountKey.json
google-services.json
node_modules/

# Google / Firebase keys
serviceAccountKey.json
google-services.json
**/serviceAccountKey.json

# Node
node_modules/
**/node_modules/

# Android local config
local.properties
